@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Staatliches&display=swap');

:root {
    --primary-color: #FFC9B9;
    --secondary-color: #FEFEE3;
    --accent1-color: #999;
    --accent2-color: #84a59d;
    --heading-font: 'Pacifico', cursive;
    --paragraph-font: 'Libre Franklin', sans-serif;
}

main {
    background-color: white;
    max-width: 70%;
    margin: auto;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 35px;

}


h1 {
    font-family: var(--heading-font);
}

h2,
h3 {
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--accent2-color);
    font-family: var(--paragraph-font);
    border-radius: 35px;



}

nav li {

    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    align-content: center;

}

ul {
    display: flex;
    align-items: center;


}

li {
    align-items: center;
    margin: auto;
}

a {
    display: block;
    padding: 20px;
    text-align: center;
    align-items: center;
}


a:link {
    text-decoration: none;


}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

main {
    font-family: var(--paragraph-font);
    padding: 20px;
    border-radius: 0px 0px 35px 35px;
}

img {
    margin-right: 800px;
}

.target-audience ul {
    display: block;
    color: black;
    text-align: left;
    padding: 8px;
    list-style-type: disc;
    list-style-position: outside;
    font-family: var(--paragraph-font);

}

.color {
    padding: 20px;
    border-radius: 35px;
    ;
}

.color-scheme {
    width: 300px;
}

.primary {
    background-color: #6E0E0A;
    color: white;

}

.secondary {
    background-color: #F2BB05;
}

.accent1 {
    background-color: #F0F0C9;
}

.accent2 {
    background-color: #D74E09;
}

.accent3 {
    background-color: #124E78;
    color: white;
}

.typography {
    padding: 25px;

}

p {
    font-family: var(--paragraph-font);
}

#heading-font {
    font-family: 'Staatliches', cursive;
}

#parangraph-font {
    font-family: 'Assistant', sans-serif;
}

@media only screen and (max-width: 2500px) and (min-width: 801px) {}