@media only screen and (max-width: 799px) and (min-width: 100px) {
   body {
       font-size: 20px;
   }
   header {
    display: block;

}
nav ul li {
    display: block;
}
nav ul {
    margin: 0;
	padding: 0;
    overflow: hidden;
}
}