@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Staatliches&display=swap');

:root {
    --primary-color: #FFC9B9;
    --secondary-color: #FEFEE3;
    --accent1-color: #999;
    --accent2-color: #84a59d;
    --heading-font: 'Pacifico', cursive;
    --paragraph-font: 'Libre Franklin', sans-serif;
}

header,
footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 35px;
}


h1 {
    font-family: var(--heading-font);
}

h2,
h3 {
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--accent2-color);
    font-family: var(--paragraph-font);
    border-radius: 35px;


}

nav li {
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center;

}


a:link {
    text-decoration: none;


}

a:visited {
    color: blue;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

main {
    font-family: var(--paragraph-font);
    padding: 20px;
    border-radius: 0px 0px 35px 35px;
}

.target-audience li {
    color: black;
    text-align: left;
    padding: 8px;
    list-style-type: disc;
    list-style-position: outside;
    font-family: var(--paragraph-font);

}

.color-scheme {
    width: 100%;
    margin: auto;
    text-align: left;
}

th {
    background-color: var(--accent2-color);
    padding: 10px;

}

td {
    width: 10px;
    height: 50px;
    padding: 10px;
}

.primary {
    background-color: #6E0E0A;

}

.secondary {
    background-color: #F2BB05;
}

.accent1 {
    background-color: #F0F0C9;
}

.accent2 {
    background-color: #D74E09;
}

.accent3 {
    background-color: #124E78;
}

.typography {
    padding: 25px;

}

p {
    font-family: var(--paragraph-font);
}
