@media only screen and (max-width: 360px) {
    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    h1 {
        font-size: 10px;
    }
    header {
        grid-column: 1/1;
        grid-row: 1/2;
    }
    .ruleofthirds {
        grid-column: 1/1;
        grid-row: 2/3;
    }
}