@media only screen and (max-width: 799px) and (min-width: 100px) {

    main {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
    }

    h1 {
        font-size: 30px;
    }

    body {
        font-size: 20px;
    }

    header {
        grid-column: 1/1;

    }

    footer {
        grid-column: 1/1;

    }

    h3 {
        background-color: var(--accent2-color);
        padding: 25px;
        border-radius: 35px;
    }

    .ruleofthirds {
        grid-column: 1/1;
        border: 1px solid var(--accent2-color);
        padding: 10px;
        box-shadow: 5px 5px 5px var(--accent2-color);
        border-radius: 35px;


    }

    .alignment {
        grid-column: 1/1;
        border: 1px solid var(--accent2-color);
        padding: 10px;
        box-shadow: 5px 5px 5px var(--accent2-color);
        border-radius: 35px;

    }

    .contrast {
        grid-column: 1/1;
        border: 1px solid var(--accent2-color);
        padding: 10px;
        box-shadow: 5px 5px 5px var(--accent2-color);
        border-radius: 35px;
    }

    img {
        width: 100%;
    }
}