@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@media screen and (max-width: 550px) {
    .______ {
      display: block;
    }
  }

html {
    background-color: #EAE0CC;

}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    color: #FFB100;
    background-color: #798478;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 125px;
    height: auto;

}

.heading {
    font-family: 'Dancing Script', 'Satisfy', cursive;
    background-color: #798478;

}

.hero-image {
    width: 100%;
    grid-column: 1/3;



}

div img.hero-image {
    width: 100%;
}
.action{
    background-color:#FFB100 ;
}

body {
    background-color: #C9ADA1;
    margin: 0 auto;
    padding: 1.5em;
    font-family: 'Quicksand', Helvetica, sans-serif;


}

section {
    background-color: #EAE0CC;
    padding: 11px;
}


nav {
    color: #FFB100;
    background-color: #798478;
    padding: 11px;

}

.main-nav {
    margin: auto;
    text-align: center;


}

nav ul {
    display: flex;
    list-style-type: none;

}

nav a {
    color: #FFB100;
    display: block;
    padding: 15px;

}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px
}

.family-search {
    grid-column: 1/3;
    grid-row: 4/4;

}

.come-stay {
    background-color: #FFB100;
    grid-column: 1/3;

}

button {
    margin-left: 45%;
}

.wedding-recepcion {
    grid-row: 3/5;
}

h2 {
    text-align: center;

}

a:hover {
    color: #FFEBC6;
}

a:active {
    color: #C9ADA1;
}

.home-image {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;

}

.wedding-image {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

.social {
    display: inline-flex;
    margin-left: 60%;
    padding: 1px;
   
}
.last-section {
    
    color: #FFB100;
    background-color: #798478;
    padding: 11px;
}