@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
    background-color: #EAE0CC;

}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    color: goldenrod;
    background-color: #798478;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 125px;
    height: auto;

}

.heading {
    font-family: 'Dancing Script', 'Satisfy', cursive;
    background-color: #798478;

}

.hero-image {
    width: 100%;


}

div img.hero-image {
    width: 100%;
}

body {
    background-color: #C9ADA1;
    margin: 0 auto;
    padding: 1.5em;
    font-family: 'Quicksand', Helvetica, sans-serif;


}

section {
    background-color: #EAE0CC;
    padding: 11px;
}


nav {
    color: goldenrod;
    background-color: #798478;
    padding: 11px;
    
}

.main-nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    z-index: 2;

}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: goldenrod;

}
