@media only screen and (min-width: 560px) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav {
        background-color: #023047;
    }

    nav ul li {
        float: left;
    }

    /*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    nav ul li a {
        border: none;
        padding: .8rem;
        border-right: 1px solid;
    }

    nav ul li a {
        color: white;
    }

    nav ul li a:hover {
        background-color: #F2BB05;
    }

    div.cards {
        max-width: 600px;
        margin: 10px auto;
    }


    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .cards section:nth-child(even) img {
        grid-column: 1;
    }

    .cards section:nth-child(even) .info {
        grid-column: 2;
        grid-row: 1;
    }

    .cards img {
        width: 100%;
        height: auto;
        margin: auto 0;
    }

    .cards .imgbox {
        align-self: center;
    }



}