@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shippori+Mincho&display=swap');


h1, h2 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: #4D4D99;
   
}
body{
    font-family: 'Roboto', sans-serif;
}
.cards {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 10px;
    gap: 5px;
}
.cards img {
    display: block;
    max-width: 50%;
    margin: 10px auto;
    box-shadow: 0px 0px 20px #3b3b3b;
}


.cards section {
    background-color: #B8B8CB;
    border: 1.5px solid #4D4D99;
}


main {
    background-color: #DDDDDD;
    box-shadow: 20px 20px 100px gray;
   
}

@media only screen and (min-width: 528px) {
    .cards {
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (min-width: 800px) {
    .cards {
        grid-template-columns: repeat(4, auto);
    }
}